<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current request.path {{ request.path }}</h1>
    {% if user.is_authenticated %}
    <p>Authenticated as
    <pre>
    Name: {{ user.username }}
    Email: {{ user.email }}
    Id: {{ user.id }}
    </pre>
    </p>
    <p>You can <a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a></p>
    {% else %}
    <p>You are not logged in</p>
    <p>You can <a href="{% url 'login' %}?next={{ request.path }}">Login</a> if you like.</p>
    {% endif %}

    <ul>
        <li>
            Go to <a href="{% url 'autoriza:inicio' %}">{% url 'autoriza:inicio' %}</a>
                (no login required)
        </li>
        <li>
            Go to <a href="{% url 'autoriza:empresa' %}">{% url 'autoriza:empresa' %}</a>
                (no login required)
        </li>
        <li>
            Go to <a href="{% url 'autoriza:productos' %}">{% url 'autoriza:productos' %}</a>
                (protected by user.is_authenticated)
        </li>
        <li>
            Go to <a href="{% url 'autoriza:equipo' %}">{% url 'autoriza:equipo' %}</a>
                (protected by LoginRequiredMixin)
        </li>
        <li>
            Go to <a href="{% url 'autoriza:python' %}">{% url 'autoriza:python' %}</a>
                dump request.user data in python
        </li>
    </ul>
</body>
</html>