<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sitio de analítica de datos avanzados, Curso 154-2</h1>
    <h2>Inicio | Empresa | Productos | Contacto</h2>
    <h3>Estamos probando un template madre</h3>
 
    {% block content %}
    <h4 style="color:red"> ESTE ES UN CONTENIDO QUE ESTÁ EN EL BLOQUE CONTENT DE LA MADRE </h4>
    {% endblock %}

</body>
</html>