<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method="post" novalidate>
    {% csrf_token %}
  
    {{ formulario.non_field_errors }}
  
    {% for hidden_field in formulario.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
  
    <table border="1">
      {% for field in formulario.visible_fields %}
        <tr>
          <th>{{ field.label_tag }}</th>
            <td>
              {{ field.errors }}
              {{ field }}
              {{ field.help_text }}
            </td>
        </tr>
      {% endfor %}
    </table>
  
    <button type="submit">Submit</button>
  </form>

</body>
</html>